{% extends 'base.html' %}

{% block content %}
{% if user.id == eid %}
<a class="button btn btn-success"
href="{% url 'hr_tool:add_assignexp' pk %}">Add</a>

<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Role</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        {% for assignexp in assignexps %}
        <tr>
            <td>{{ assignexp.project }}</td>
            <td>{{ assignexp.role }}</td>
            <td>{{ assignexp.start_date }}</td>
            <td>{{ assignexp.end_date }}</td>
            <td><a href="{% url 'hr_tool:update_assignexp' assignexp.id %}">更新</a></td>
            <td><a href="{% url 'hr_tool:delete_assignexp' assignexp.id %}">削除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
