{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    <table class="table">
        <tr>
          <th>project</th>
          <td>{{ exp_detail }}</td>
        </tr>
        <tr>
          <th>role</th>
          <td>{{ role }}</td>
        </tr>
        <tr>
          <th>開始日</th>
          <td>{{ start_date }}</td>
        </tr>
        <tr>
          <th>終了日</th>
          <td>{{ end_date }}</td>
        </tr>
    </table>
    <p>こちらのデータを削除します。</p>
    <button type="submit" class="btn btn-primary">送信</button>
    {% csrf_token %}
</form>
{% endblock %}
